@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.gradient-custom {
    /* fallback for old browsers */
    font-family: 'MaplestoryOTFBold';
    background: #21c8e5;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #21c8e5, rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #21c8e5, rgba(37, 117, 252, 1))
}
input{
    text-align: center;
}
#id-fail,#pw-fail{
    font-family: 'MaplestoryOTFBold';
}